<form class="form" action="/dashboard/styles" method="post">
<label class="label" for="name">Name</label>
<input class="input" type="text" name="name" id="name">
<label class="label" for="color">Color</label>
<input class="input" type="text" name="color" id="color">
<label class="label" for="color">Wiki-url</label>
<input class="input" type="text" name="wikiURL" id="wiki-url">
<label class="label" for="image">Image</label>
<input class="input" type="file" name="image" id="image">
<button class="btn">Create</button>
</form>