<h1>Music styles</h1>
<hr>
<table>
   <thead>
       <tr>
           <th>color</th>
           <th>name</th>
           <th>wiki</th>
           <th>image</th>
           <th>update</th>
           <th>delete</th>
           
       </tr>
   </thead>
   <tbody>
       {{#each styleDisplay}} 
       <tr>
           <td>{{this.name}}</td>
           <td><div class="color" style="background: {{this.color}}"></div></td>
           <td>{{this.wiki}}</td>
           <td>{{this.image}}</td>
           <td> <a href=""></a> </td>
           <td>  <button> </button></td>
       </tr>
       {{/each}}
   </tbody>
</table>
